body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    letter-spacing: 0px;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    color: #6f6b80;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
}



h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.3;
    font-family: 'Jost', sans-serif;
    color: #000;
}

li {
    display: list-item;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.site-wrap * {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0px 40px;
    position: relative;
    clear: both;

}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    padding: 25px 0px;
    transition: all .9s ease;
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elias-logo {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.elias-logo-color {
    color: #F75022;
}

.header .menu ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    align-items: center;

}

.header .menu ul li {
    margin: 0 48px 0 0;
    display: inline-block;
}

body .site-wrap .header .menu ul li.portfolio {
    margin: 0 0 0 0;
}

.header .menu ul li.current a {
    color: #f75023;
}

.header .menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-family: 'Jost', 'Open Sans', sans-serif;
    transition: all 1s ease;
    color: #000000;

    -webkit-transition: color 1s ease;
    transition: color .5s ease;
}

.header .menu ul li a:hover {
    color: #f75023;
}

.landing-hero .background  {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.landing-home {
    width: 100%;
    height: auto;
}

.landing-hero {
    width: 100%;
    height: 100vh;
    margin-bottom: 180px;
}

.landing-hero .container {
    height: 100%;
}

.landing-hero .landing-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-hero .details {
    width: 50%;
    padding-right: 20px;
}

.landing-hero .hello h3 {
    font-size: 45px;
}

.orange-hello {
    color: #f75023;
}

.landing-hero .name h3 {
    font-size: 85px;
}

.green-title {
    color: #1cbe59;
}

.landing-hero .job {
    margin-bottom: 40px;
}

.landing-hero .job p {
    font-size: 28px;
    color:#000;
    font-weight: 500;
}

.landing-hero .text {
    margin-bottom: 42px;
}

.landing-hero .text p {
    font-size: 24px;
    line-height: 1.5;
}

.landing-hero .button-container {
    display: flex;
    align-items: center;
}

.landing-hero .button {
    width: auto;
}

.button {
    width: 100%;
    height: auto;
}

.button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	border-radius: 50px;
	border: 2px solid #f75023;
	padding: 14px 48px 14px 48px;
	position: relative;
	overflow: hidden;
}
.button span{
	position: relative;
	z-index: 2;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.button a:before{
	position: absolute;
	content: "";
	z-index: 0;
	background-color: #f75023;
    height: 110%;
	left: -5px;
	right: -5px;
	bottom: -5px;
	
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.button a:hover:before{
	height: 0;
}
.button a:hover span{
	color: #000;
}

.landing-hero .avatar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.landing-hero .hero-img {
    position: relative;
}

.landing-hero .avatar img {
    max-height: 650px;
}

.skills-header-wrap {
    width: 100%;
    height: auto;
}

.skills-header {
    width: 100%;
    height: auto;
    padding-top: 180px;
    margin-bottom: 60px;
}

.skills-title {
    text-align: center;
    margin: 0px auto;
}

.skills-title span {
    color:#f75023;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Jost', 'Open Sans', sans-serif;
    margin-bottom: 6px;
}

.skills-title h3 {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 24px;
}

.skills-list-wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

.skills-list {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.skills-list .list {
    width: 100%;
    height: auto;
   clear: both;
   float: left;
}

.skills-list ul {
    margin: 0 0 0 -70px;
    list-style-type: none;
}

.skills-list ul li {
    margin: 0px 0px 70px 0px;
    width: 33.3333%;
    padding-left: 70px;
    text-align: center;
    float: left;
}

.skills-list ul li .list-item {
    width: 100%;
    height: auto;
    border: 2px solid #dedede;
    border-radius: 12px;
    box-shadow: 20px 0 90px rgba(10, 15, 70, .07);
    padding: 30px 0;
    position: relative;
}

.skills-list .icon img {
    width: 60px;
}

.skills-list .title {
    margin-bottom: 10px;
}

.skills-list .title h3 {
    font-size: 24px;
}



@media (max-width: 1600px) {
    body {
        font-size: 16px;
    }
    
    .container {
        max-width: 1170px;
    }
}


@media (max-width: 1040px) {
    .container {
        padding: 0px 20px;
    }
}